static-ioc-namespaces/static-ioc-namespace-gwt/src/main/resources/static-ioc-gwt.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="messages">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 	use="optional" default="messages"/>
        <xs:attribute type="xs:string" name="id" 	use="optional" default="messages"/>
        <xs:attribute type="xs:string" name="class" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="service">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 		use="optional" default="Auto-generated value" />
        <xs:attribute type="xs:string" name="id" 		use="optional" default="Auto-generated value" />
        <xs:attribute type="xs:string" name="interface" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="eventBus">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 	use="optional" default="eventBus" />
        <xs:attribute type="xs:string" name="id" 	use="optional" default="eventBus" />
        <xs:attribute type="xs:string" name="class" use="optional" default="com.google.web.bindery.event.shared.EventBus"/>
        <xs:attribute type="xs:string" name="type" 	use="optional" default="com.google.gwt.event.shared.SimpleEventBus"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="historyMapper">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 	use="optional" default="historyMapper"/>
        <xs:attribute type="xs:string" name="id" 	use="optional" default="historyMapper"/>
        <xs:attribute type="xs:string" name="class" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
    
  <xs:complexType name="activityManager">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 				use="optional" default="activityManager"/>
        <xs:attribute type="xs:string" name="id" 				use="optional" default="activityManager"/>
        <xs:attribute type="xs:string" name="eventBus"  		use="optional" default="eventBus"/>
        <xs:attribute type="xs:string" name="activityMapper"  	use="optional" default="activityMapper"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="create">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 		use="optional" default="Auto-generated value" />
        <xs:attribute type="xs:string" name="id" 		use="optional" default="Auto-generated value" />
        <xs:attribute type="xs:string" name="interface" use="required"/>
        <xs:attribute type="xs:string" name="class" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>