static-ioc-namespaces/static-ioc-namespace-gwt/src/main/resources/static-ioc-gwt.xsd

<?xml version="1.0" standalone="yes"?>
<!--

     Copyright (C) 2013 Charles Gibault

     Static IoC - Compile XML based inversion of control configuration file into a single init class, for many languages.
     Project Home : http://code.google.com/p/static-ioc/

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="messages">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 	use="optional" default="messages"/>
        <xs:attribute type="xs:string" name="id" 	use="optional" default="messages"/>
        <xs:attribute type="xs:string" name="class" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="service">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 		use="optional" default="Auto-generated value" />
        <xs:attribute type="xs:string" name="id" 		use="optional" default="Auto-generated value" />
        <xs:attribute type="xs:string" name="interface" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="eventBus">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 	use="optional" default="eventBus" />
        <xs:attribute type="xs:string" name="id" 	use="optional" default="eventBus" />
        <xs:attribute type="xs:string" name="class" use="optional" default="com.google.web.bindery.event.shared.EventBus"/>
        <xs:attribute type="xs:string" name="type" 	use="optional" default="com.google.gwt.event.shared.SimpleEventBus"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="historyMapper">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 	use="optional" default="historyMapper"/>
        <xs:attribute type="xs:string" name="id" 	use="optional" default="historyMapper"/>
        <xs:attribute type="xs:string" name="class" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
    
  <xs:complexType name="activityManager">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 				use="optional" default="activityManager"/>
        <xs:attribute type="xs:string" name="id" 				use="optional" default="activityManager"/>
        <xs:attribute type="xs:string" name="eventBus"  		use="optional" default="eventBus"/>
        <xs:attribute type="xs:string" name="activityMapper"  	use="optional" default="activityMapper"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="create">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" 		use="optional" default="Auto-generated value" />
        <xs:attribute type="xs:string" name="id" 		use="optional" default="Auto-generated value" />
        <xs:attribute type="xs:string" name="interface" use="required"/>
        <xs:attribute type="xs:string" name="class" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>